.nav {
    display: flex;
    flex-direction: column;
    @include media-min(){
        flex-direction: row;
        justify-content: space-between;     
        margin: 0 2em;  
    }
    &__logo {
        align-self: flex-start;
        height: 50px;
        padding: 3px 0 3px 15px;
    }
    &__mobile {
        background-color: $mobile-toggle-color;
        height: 40px;
        width: 40px;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 4px;
        @include media-min(){
            display: none;
        }
    }
    &__list {
        padding: 0 0.5em;
        display: none;
        &--active {
            text-align: left;
            display: block;
        }
        @include media-min(){
            text-align: center;
            display: flex;
        }
    }
    &__item {
        border-top: 1px solid lighten($secondary-font-color, 30%);
        padding: 1em 2em;
        display: flex;
        justify-content: space-between;
        &:nth-child(5){
            padding: 1.5em 2em;
        }
        &:nth-child(6){
            display: none;
        }
        @include media-min(){
            display: block;
            padding: 5px 2em 0;
            border-top: none;
            border-left: 1px solid lighten($secondary-font-color, 30%);
            &:nth-child(5){
                padding: 5px 2em 0;
            }
            &:nth-child(6){
                display: inline-block;
                border-right: 1px solid lighten($secondary-font-color, 30%);
            }
        }
    }
}

.item {
    font-size: 2em;
    padding-right: 1em;
    &__link {
        color: $main-font-color;
        text-decoration: none;
        width: 100%;
    }
    @include color-modifier();
    @include media-min(){
        font-size: 1em;
        padding-right: 0;
        &:after {
            content: "\00000a";
            white-space: pre;
        }
    }
    &--pink {
        font-size: 1.3em;
        padding-right: 1.2em;
        @include media-min(){
            font-size: 1em;
            padding-right: 0;
        }
    }
    &__icon {
        align-self: center;
        @include media-min(){
            display: none;
        }
    }
}   

.logo {
    &__icon {
        max-height: 80%;
        max-width: 80%;
        padding: 0.5em;
    }
}

.mobile {
    &__hamburger {
        position: absolute;
        top: 0;
        right: 0;    
        padding: 20px;
    }
    &__toggle {
        &,
        &::before,
        &::after{
            display: block;
            content: "";
            width: 24px;
            height: 1px;
            background-color: white;
            position: absolute;
            top: 20px;
            right: 8px;
            @include transition(all, 300ms, ease-in-out);
        }
        &:before {
            top: -5px;
            right: 0;
        }
        &:after {
            top: 5px;
            right: 0;
        }
        &--active {
            background-color: transparent;
            &:before,
            &:after {
                top: -2px;
                height: 4px;
                width: 16px;
                right: 4px;
            }
            &:before {
                transform: rotate(45deg);
            }
            &::after{
                transform: rotate(135deg);
            }
        }
    }
}