$orange: rgb(250, 182, 65);
$red: rgb(226, 79, 72);
$blue: rgb(78, 155, 188);
$purple: rgb(170, 140, 197);
$pink: rgb(246, 67, 145);
$font-color: #fff;
$main-font-color: #000;
$secondary-font-color: rgb(134, 134, 134);
$hero-bg-color: rgb(253, 225, 150);
$line-icon-bg-color: rgb(41, 175, 9);
$mobile-toggle-color: rgb(93, 93, 93);


$colors: (
    "orange": $orange,
    "red": $red,
    "blue": $blue,
    "purple": $purple,
    "pink": $pink
)